DISCORD_TOKEN=YOUR_DISCORD_BOT_TOKEN
DISCORD_CLIENT_ID=YOUR_DISCORD_CLIENT_ID
DISCORD_GUILD_ID=YOUR_DISCORD_GUILD_ID
OBYWATEL_ROLE_ID=YOUR_OBYWATEL_ROLE_ID
ADMIN_ROLE_ID=YOUR_ADMIN_ROLE_ID
PUBLIC_VERIFY_URL=https://your-vercel-domain.vercel.app
MONGODB_URI=mongodb+srv://user123:YOUR_DB_PASSWORD@cluster0.6sd8m8w.mongodb.net/?appName=Cluster0
MONGODB_DB=roblox_discord_verification
